name: "Phpunit"

on:
  pull_request:

  push:
    branches: [ "*" ]

  schedule:
    - cron: "0 8 * * 1"

jobs:
  test84:
    name: "Phpunit"
    uses: contributte/.github/.github/workflows/phpunit.yml@v1
    with:
      php: "8.4"
      make: "init tests"

  testlower:
    name: "Phpunit"
    uses: contributte/.github/.github/workflows/phpunit.yml@v1
    with:
      php: "8.4"
      make: "init tests"
      composer: "composer update --no-interaction --no-progress --prefer-dist --prefer-stable --prefer-lowest"
